<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="cname">
      <th mat-header-cell *matHeaderCellDef >Cname</th>
      <td mat-cell *matCellDef="let row">{{row.cname}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="disease_code">
      <th mat-header-cell *matHeaderCellDef >Disease Code</th>
      <td mat-cell *matCellDef="let row">{{row.disease_code}}</td>
    </ng-container>
    <ng-container matColumnDef="first_enc_date">
      <th mat-header-cell *matHeaderCellDef >First Encounter Date</th>
      <td mat-cell *matCellDef="let row">{{row.first_enc_date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div class="md-form">
        <label for="form104">Country</label>
        <input type="text" id="cinput" #cinput>
  </div>
  <div class="md-form">
        <label for="form104">Disease Code</label>
        <input type="text" id="disc" #discinput>
  </div>
  <div class="md-form">
        <label for="form104">First Encounter Date</label>
        <input type="text" id="fed" #fedinput>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="insertFunc(cinput.value, discinput.value, fedinput.value)" >Insert</button>
  </div>


  <label for="select">Select what to delete:</label>
  <select id="select" #select>
    <option value="cname">Country</option>
    <option value="disease_code">Disease Code</option>
    <option value="first_enc_date">First Encounter Date</option>
  </select>
  <div>
  <label for="form104">Value</label>
    <input type="text" id="value" #value>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="deleteFunc(select.value, value.value)" >Delete</button>
  </div>



  <label for="select2">Select what to update:</label>
  <select id="select2" #col>
    <option value="cname">Country</option>
    <option value="disease_code">Disease Code</option>
    <option value="first_enc_date">First Encounter Date</option>
  </select>
  <div>
  <label for="form104">Value</label>
    <input type="text" id="value" #val>
  </div>
  <label for="select3">Select where to update:</label>
  <select id="select3" #cond>
    <option value="cname">Country</option>
    <option value="discover">Disease Code</option>
    <option value="first_enc_date">First Encounter Date</option>
  </select>
  <div>
  <label for="form104">Value</label>
    <input type="text" id="value" #cval>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="updateFunc(col.value, val.value, cond.value, cval.value)" >Update</button>
  </div>
</div>
