<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef >Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef >Surname</th>
      <td mat-cell *matCellDef="let row">{{row.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef >Salary</th>
      <td mat-cell *matCellDef="let row">{{row.salary}}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef >Phone</th>
      <td mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>
    <ng-container matColumnDef="cname">
      <th mat-header-cell *matHeaderCellDef >Cname</th>
      <td mat-cell *matCellDef="let row">{{row.cname}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


    <div class="md-form">
          <label for="form104">Email</label>
          <input type="text" id="idinput" #idinput>
    </div>
    <div class="md-form">
          <label for="form104">Name</label>
          <input type="text" id="desc" #descinput>
    </div>
    <div class="md-form">
          <label for="form104">Surname</label>
          <input type="text" id="idinput" #sur>
    </div>
    <div class="md-form">
          <label for="form104">Salary</label>
          <input type="text" id="desc" #salary>
    </div>
    <div class="md-form">
          <label for="form104">Phone</label>
          <input type="text" id="idinput" #phone>
    </div>
    <div class="md-form">
          <label for="form104">Country</label>
          <input type="text" id="desc" #cinput>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="insertFunc(idinput.value, descinput.value, sur.value, salary.value, phone.value, cinput.value)" >Insert</button>
    </div>


    <label for="select">Select what to delete:</label>
    <select id="select" #select>
      <option value="email">Email</option>
      <option value="name">Name</option>
      <option value="surname">Surname</option>
      <option value="salary">Salary</option>
      <option value="phone">Phone</option>
      <option value="cname">Country</option>
    </select>
    <div>
    <label for="form104">Value</label>
      <input type="text" id="value" #value>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="deleteFunc(select.value, value.value)" >Delete</button>
    </div>



    <label for="select2">Select what to update:</label>
    <select id="select2" #col>
      <option value="email">Email</option>
      <option value="name">Name</option>
      <option value="surname">Surname</option>
      <option value="salary">Salary</option>
      <option value="phone">Phone</option>
      <option value="cname">Country</option>
    </select>
    <div>
    <label for="form104">Value</label>
      <input type="text" id="value" #val>
    </div>
    <label for="select3">Select where to update:</label>
    <select id="select3" #cond>
      <option value="email">Email</option>
      <option value="name">Name</option>
      <option value="surname">Surname</option>
      <option value="salary">Salary</option>
      <option value="phone">Phone</option>
      <option value="cname">Country</option>
    </select>
    <div>
    <label for="form104">Value</label>
      <input type="text" id="value" #cval>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="updateFunc(col.value, val.value, cond.value, cval.value)" >Update</button>
    </div>
</div>
